*.asv
/Halfleka-Sim/slprj
/HalfLeka-simscape/slprj
/slprj
/FullBalekaSimscape/slprj
/HopperRaibertSpeedGoat_sg_rtw
*.slxc
/Halfleka-Speegoat/HopperRaibertSpeedGoat_sg_rtw
/Halfleka-Speegoat/slprj
Halfleka-Speegoat/HalfLekaSlippingonMatsRaibert1.mat
Halfleka-Speegoat/HalfLekaSlippingonNofoot.mat
Halfleka-Speegoat/HalfLekaSlippingonNoMatsRaibert1.mat
/Halfleka-Sim-hardcontact/slprj
Halfleka-Speedgoat/HalfLekaSlippingonNoMatsRaibert1.mat
Halfleka-Speedgoat/HalfLekaSlippingonMatsRaibert1.mat
Halfleka-Speedgoat/HalfLekaSlippingonNofoot.mat
/Halfleka-Sim-hardcontact/slprj
